<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />


  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />

  <style>
    html {}

    * {
      box-sizing: border-box;
    }

    body {
      width: 100%;
      margin: 0;
      padding: 10px 0px 10px 0px;
      line-height: 28px;
      font-family: Roboto;
      font-size: 18px;
      line-height: 27px;
      color: #4f4f4f;
      background-color: #E5E5E5;
    }

    table {
      margin: 0px auto;
      align-self: center;
      width: 700px !important;
      table-layout: fixed;
      border: none;
      background-color: #FFFF;
      border-spacing: 0pt;
      border-collapse: separate;
    }

    td {
      padding: 0;
    }

    .email-content {
      padding: 30px;
    }

    .title {
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;
      color: #1a88c9;
      margin-bottom: 20px;
      margin-top: 0px;
    }

    .greeting {
      margin-bottom: 30px;
    }

    .fcx-img {
      width: 100%;
      max-height: 200px;
    }

    hr {
      border: 1px solid #e2e2e2;
      margin: 0px;
      margin-top: 30px;
    }

    footer {
      margin-top: 30px;
      font-weight: 400;
      color: #828282;
    }
  </style>
</head>

<body>
  <table>
    <tbody>
      <tr>
        <td>
          <!-- <header><img class="fcx-img" src="https://www.chewy.com/pet-insurance/img/owner-avoiding-puppy-kisses.png" /></header> -->

          <div class="email-content">
            <h1 class="title">Pet Shop - Reset password</h1>
            <p class="greeting">Hi <span class="email">{{email}}</span>,</p>

            <p>There has been a request to reset the password linked with your Pet Shop account.</p>
            <p>To confirm your request, please use the 6-digit code below:</p>
            <p>{{ code }}</p>
            <p>This verification code will be valid for 30 minutes. For the security of your account, please
              do not
              share this
              code with anyone.</p>
            <p>If you don’t recognize this activity, contact our customer support immediately at <span
                class="email">{{supportEmail}}</span>.</p>

            <hr />

            <footer>
              <p>Velo team.</p>
              <p>This is an automated message, please do not reply.</p>
            </footer>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>